<section class="row bronca-de-moviles">

    <div class="col-12">
        <div class="row footer-section justify-content-center">
            <div class="col-12 col-sm-10 col-md-4 col-lg-4">

                <div class="row justify-content-center wow fadeIn">
                    <div class="col-10 text-center col-sm-12 col-lg-4 align-items-lg-baseline text-lg-right pt-3">
                        <i class="fa fa-map-marker fa-2x icon-footer" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 text-center col-sm-10 col-lg-8 pt-3 text-lg-left">
                        <h5 class="text-white"><strong>Oficinas Centrales</strong></h5>
                        <p class="text-footer">Colima 158, Piso 1, Ofic. 1.<br>Roma Norte. Cuauhtémoc. CDMX. 06700</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-10 col-md-4 col-lg-4">

                <div class="row justify-content-center wow fadeIn">
                    <div class="col-10 text-center col-sm-12 col-lg-4 align-items-lg-baseline text-lg-right pt-3">
                        <i class="fa fa-phone fa-2x icon-footer" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 text-center col-sm-10 col-lg-8 pt-3 text-lg-left">
                        <h5 class="text-white"><strong>Llámanos</strong></h5>
                        <p class="text-footer"><strong>Oficina:</strong> (55) 8914-0187 o (55) 8437-8877 <br> <strong>Soporte:</strong> (55) 8437-8876</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-10 col-md-4 col-lg-4">

                <div class="row justify-content-center wow fadeIn">
                    <div class="col-10 text-center col-sm-12 col-lg-4 align-items-lg-baseline text-lg-right pt-3">
                        <i class="fa fa-envelope-open-o fa-2x icon-footer" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 text-center col-sm-10 col-lg-8 pt-3 text-lg-left">
                        <h5 class="text-white"><strong>Email</strong></h5>
                        <p class="text-footer">contacto@tacticati.com</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 pt-3" style="background-color: #1B1B1B;">
        <a class="aviso-privacidad" routerLink="aviso">
            <p class="text-center text-white">Aviso de Privacidad</p>
        </a>
        <p class="text-center text-white">Copyright 2021 Táctica TI. Todos los Derechos Reservados</p>
    </div>
</section>