
<app-menu></app-menu>
<!-- Prenavegador -->

<!-- 
   <div class="row justify-content-center pre-navegador" id="inicio">
        <div class="col-11 col-sm-6 col-md-5 col-lg-4 align-self-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
           <img class="img-fluid logo" src="assets/images/tactica-ti-logo_v2.png">  
           <hr class="linea-horizontal">  
        </div>
       
        <div class="col-12 col-lg-6 nosotros wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <ul class="lista-nosotros" >
                <li>
                    <a href="#.">Nosotros</a>    
                </li>
                <li>
                    <span class="separador">|</span> 
                </li>
                <li>    
                    <a href="#.">Centro de Soporte</a>
                </li>
                <li>
                    <span class="separador desaparece">|</span> 
                </li>
                <li class="social-icons">
                    <a class="info-link" title="Facebook" href="#." target="_blank">
                        <span class="social-icon" ><i class="fa fa-facebook-square fa-2x facebook image"></i></span>
                    </a>&nbsp;
                    <a class="info-link" title="Twitter" href="#." target="_blank">
                        <span class="social-icon"><i class="fa fa-youtube-play fa-2x youtube image"></i></span>
                    </a>&nbsp;
                    <a class="info-link" title="linkedin" href="#." target="_blank">
                        <span class="social-icon"><i class="fa fa-linkedin-square fa-2x linkedin image"></i></span>
                    </a>&nbsp;
                   
                </li>
            </ul>
        </div>
-->
        <!-- Esta solo se va a ver en moviles -->
<!--
        <div class="col-12 responsive-social lista-nosotros wow fadeInDown">
            <a class="info-link" title="Facebook" href="#." target="_blank">
                <span class="social-icon" ><i class="fa fa-facebook-square facebook"></i></span>
            </a>&nbsp;
            <a class="info-link" title="Twitter" href="#." target="_blank">
                <span class="social-icon"><i class="fa fa-youtube-play fa-2x youtube"></i></span>
            </a>&nbsp;
            <a class="info-link" title="linkedin" href="#." target="_blank">
                <span class="social-icon"><i class="fa fa-linkedin-square linkedin"></i></span>
            </a>&nbsp;
        </div>
        <div class="col-12 col-lg-2 align-self-center wow fadeIn text-center" data-wow-duration="1s" data-wow-delay="1s">
            <button class="btn btn-warning boton-analisis" data-toggle="modal" data-target="#exampleModal">Análisis sin costo</button>
        </div>
   </div>
-->
<!-- Iniciamos con el Navegador -->
<!--
<nav id="menu" class="row navbar navbar-expand-lg navbar-light navegador sticky-top" >
-->
    <!-- Este es el boton de Analisis sin costo que aparece solo en el navbar scrolling -->
    <!--div id="button-2" class="display-none button-menu">
        <button class="btn btn-warning boton-analisis boton-analisis-bis" data-toggle="modal" data-target="#exampleModal"><span>Análisis sin costo</span></button>
    </div-->
<!--
    <div class="image-after">
        <img src="assets/images/logo_tti_white.png">
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation" (click)='close()'>
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse contenedor-100" id="navbarSupportedContent">
      <ul class="navbar-nav contenedor-lista wow fadeIn">
        <li class="nav-item hover">
          <a class="nav-link" href="#inicio" (click)="close()">Inicio</a>
        </li>
        <li class="nav-item dropdown hover">
            <div class="soluciones-inline">
                <a class="nav-link dropdown-toggle" href="#soluciones" (click)="close()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Soluciones  
                </a>
                <i id="icon" class="fa fa-plus-circle" style="display:none" aria-hidden="true" (click)="open()"></i>
            </div>
          <div id="dropdown-menu-id" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="sapbusinessone" >SAP Business One</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="analitica" >Analítica de Datos</a>
          </div>
        </li>
        <li class="nav-item hover">
            <a class="nav-link" href="#productos" (click)="close()">Productos</a>
        </li>
        <li class="nav-item hover">
            <a class="nav-link" href="#alianzas" (click)="close()">Alianzas</a>
        </li>
        <li class="nav-item hover">
            <a class="nav-link" href="#proceso" (click)="close()">Proceso</a>
        </li>
        <li class="nav-item hover">
            <a class="nav-link" href="#contacto" (click)="close()">Contacto</a>
        </li>
        <li id="button-2" class="display-none button-menu text-center boton-analisis-after">
            <button class="btn btn-warning boton-analisis" data-toggle="modal" data-target="#exampleModal">Análisis sin costo</button>
        </li>
      </ul>
    
    </div>
  </nav>
-->
<!-- Modal -->
<!--
<div id="home-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: rgb(240, 248, 255);">
        <form [formGroup]="tacticaForm" (ngSubmit)="tacticaSubmit(tacticaForm.value)">
        <div class="modal-header">
          <h5 class="text-center" id="exampleModalLabel">Déjanos tus datos para agendar un análisis gratuito.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre*" >
                    <div *ngIf="tacticaForm.controls['nombre'].invalid && tacticaForm.controls['nombre'].touched"
                        class="alert alert-danger">
                        <div *ngIf="tacticaForm.controls['nombre'].errors.required">
                            Nombre es requerido.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido*" >
                    <div *ngIf="tacticaForm.controls['apellido'].invalid && tacticaForm.controls['apellido'].touched"
                        class="alert alert-danger">
                        <div *ngIf="tacticaForm.controls['apellido'].errors.required">
                            Apellido es requerido.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email*" >
                    <div *ngIf="tacticaForm.controls['email'].invalid && tacticaForm.controls['email'].touched"
                        class="alert alert-danger">
                        <div *ngIf="tacticaForm.controls['email'].errors.required">
                            Email es requerido.
                        </div>
                        <div *ngIf="tacticaForm.controls['email'].errors.email">
                            Email debe tener formato valido.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="empresa" placeholder="Empresa*" >
                    <div *ngIf="tacticaForm.controls['empresa'].invalid && tacticaForm.controls['empresa'].touched"
                    class="alert alert-danger">
                    <div *ngIf="tacticaForm.controls['empresa'].errors.required">
                        Empresa es requerido.
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono*" >
                <div *ngIf="tacticaForm.controls['telefono'].invalid && tacticaForm.controls['telefono'].touched"
                    class="alert alert-danger">
                    <div *ngIf="tacticaForm.controls['telefono'].errors.required">
                        Teléfono es requerido.
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <select class="custom-select" id="inlineFormCustomSelect" [(ngModel)]='seleccion' formControlName="solucion" 
                    style="font-size: 14px; color:rgb(112, 112, 112)">
                        <option value="" disabled>Selecciona una opción...</option>
                        <option value="SAP B1">SAP Business One</option>
                        <option value="ANALITICA BI">Analítica de Datos</option>
                        <option value="DATA SERVERS">Data Servers</option>
                    </select>
                    <div *ngIf="tacticaForm.controls['solucion'].invalid && tacticaForm.controls['solucion'].touched"
                    class="alert alert-danger">
                    <div *ngIf="tacticaForm.controls['solucion'].errors.required">
                        Solución es requerido.
                    </div>
                </div>
                </div>
           
        </div>
        <div class="modal-footer">
          <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset()">Cerrar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!tacticaForm.valid">Solicitar Análisis</button>
        </div>
        </form>
      </div>
    </div>
  </div>

-->
<section class="row home-section" id="home">

<div class="col-12 home pt-2 pb-5">

    <div class="row justify-content-center align-items-center test">
        <!--
        <div class="order-2 col-12 col-sm-8 col-md-2 order-md-1">
             <div class="row justify-content-center text-center fondo-img-home pt-4 wow fadeInLeft" >
                 <div class="col-12 align-self-center text-center pt-3">
                     <img class="img-fluid img-redonda" src="assets/images/harumi-ceo.jpg">
                     <h5 class="text-name pt-3">Harumi Tinajero</h5>
                     <span class="span-home">Dirección General Táctica TI</span>
                 </div>
             </div>
        </div> 
        -->
        <div class="order-1 col-12 col-md-8 order-md-2 principal wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" >
            <div class="row justify-content-center wow fadeInRight">
                
                <div class="col-12 align-self-center pt-4">
                        <h5 class="text-home">"Súmate o acelera la <br><span>transformación digital</span> 
                            de tu empresa con proyectos ejecutados por nuestro equipo <span>en tiempo y forma"</span>
                        </h5>
                     <!--img class="rounded img-fluid img-sap" src="assets/images/sb1-2.jpg"-->
                </div>
            </div>
        </div>

  </div>

</div>

    
    
</section>

<section class="row solutions-section" id="soluciones">

    <div class="col-12 pb-5 pt-4 soluciones">
    
    <div class="row justify-content-center text-center pt-5">

        <div class="col-10 col-md-4 wow fadeInDown">    
            <h3><strong>Soluciones</strong></h3>
            <h6 >Lo que hacemos</h6>
            <hr>
            
        </div>
        
    </div>

    <div class="row justify-content-center pb-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 pt-4" >
            <div class="card image wow fadeInUp" style="max-width: 20rem;">
                <img class="card-img-top" src="assets/images/service1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center"><strong>Soluciones SAP</strong></h5>
                  <p class="card-text text-justify">Soluciones en diferentes entornos como SAP Business One Cloud, SAP Business One On Premise y movilidad. 
                      Plataforma Hana o SQL.
                  </p>
                  <a routerLink="sapbusinessone" class="btn btn-primary saber-mas">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 pt-4" >
            <div class="card image wow fadeInUp" style="max-width: 20rem;">
                <img class="card-img-top" src="assets/images/service2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center"><strong>Analítica de Datos</strong></h5>
                  <p class="card-text text-justify">Soluciones de análisis empresarial que permite visualizar los datos y compartir información con toda la organización,
                      o insertarla en su aplicación o sitio web.
                  </p>
                  <a routerLink="analitica" class="btn btn-primary saber-mas">Saber más</a>
                </div>
            </div>
        </div>
        <!--div class="col-12 col-sm-6 col-md-4 pt-4" >
            <div class="card image wow fadeInUp" style="max-width: 20rem;">
                <img class="card-img-top" src="assets/images/service3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center"><strong>Data Servers</strong></h5>
                  <p class="card-text text-justify">Soluciones integrales para las necesidades de grandes bases de datos a través de productos IBM 
                      y de expertos certificados.</p>
                  <a href="#" class="btn btn-primary saber-mas">Saber más</a>
                </div>
            </div>
        </div-->
    </div>

    </div>
    
</section>

<section class="row productos-section" id="productos">

    <div class="col-12 contenedor-productos pt-4">

        <div class="row justify-content-center pt-5">
            <div class="col-10 col-md-4 text-center wow fadeInDown">
                <h3 class="text-white"><strong>Productos</strong></h3>
                <h6 class="text-white">Con lo que trabajamos</h6>     
                <hr style="border-color:lavender">
            </div>
        </div>
        
        <div class="row justify-content-center pt-3">
    
            <div class="col-12 col-md-4 col-lg-3 pt-3 sap wow fadeInUp" data-wow-delay="500ms">
                <div class="row text-white justify-content-center pt-3 pb-3">
                    <div class="col-12 text-center">
                        <i class="fa fa-cogs fa-4x text-center" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 pt-3">
                        <h4 class="text-center"><strong>SAP Business One</strong></h4>
                        <p class="text-center text-white pt-2">Software de gestión empresarial diseñado para pequeñas y medianas empresas cuyo objetivo es 
                            controlar y automatizar las funciones administrativas y operativas.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-md-4 col-lg-3 pt-3 analitica wow fadeInUp" data-wow-delay="750ms">
                <div class="row justify-content-center text-white pt-3 pb-3">
                    <div class="col-12 text-center">
                        <!--i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i-->
                        <img class="img-fluid chart" src="assets/images/grafica.png">
                    </div>
                    <div class="col-10 pt-3">
                        <h4 class="text-center"><strong>Analítica de Datos</strong></h4>
                        <p class="text-center text-white pt-2">Portafolio de productos para análisis de datos como Power BI, SAP Analytics Cloud, Hana Analytics.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-md-4 col-lg-3 pt-3 office wow fadeInUp" data-wow-delay="1000ms">
                <div class="row justify-content-center text-white pt-3 pb-3">
                    <div class="col-12 text-center">
                        <i class="fa fa-windows fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 pt-3">
                        <h4 class="text-center"><strong>Office 365</strong></h4>
                        <p class="text-center text-white pt-2">Servicio de suscripción basado en la nube que reúne las mejores herramientas para el trabajo de hoy en día 
                            como Sharepoint, Power Apps, Power Automate, entre otros.</p>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

</section>

<section class="row alianzas-section" id="alianzas">

    <div class="col-12 alianzas pt-4 pb-5">

    <div class="row justify-content-center text-center pt-5">

        <div class="col-10 col-md-4 wow fadeInDown">
            <h3 ><strong>Alianzas</strong></h3>
            <hr>
        </div>
        
    </div>

    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <p>
                Nos apoyamos de nuestros socios estratégicos para brindarte las mejores soluciones
                con herramientas probadas en calidad y servicio, así como esquemas asequibles de financiamiento.
            </p>
        </div>
        <div class="col-10 pt-3 partners">

            <div class="row owl-carousel carrusel">
                <div class="col-10 center-image-sap">
                    <img class="img-fluid pb-4" src="assets/images/partners/alianzas-sap.png">
                </div>
                <div class="col-10" >
                    <img class="img-fluid pt-3" src="assets/images/partners/logo_microsoftPartner.png" >
                </div>
                <div class="col-10">
                    <a href="https://datasynco.com/" target="_blank">
                        <img class="img-fluid pt-2" src="assets/images/partners/IBM_Silver_Partner.png" >
                    </a>
                </div>
                <div class="col-10">
                    <img class="img-fluid pt-4" src="assets/images/partners/alianzas-hp.png" >
                </div>
            </div>
            
        </div>
    </div>

</div>
</section>

<section class="row knowhow-section" id="proceso">

    <div class="col-12 pb-5 pt-4">
    
        <div class="row justify-content-center text-center pt-5">

            <div class="col-12 col-md-4 wow fadeInDown">
                <h3 ><strong>Proceso</strong></h3>
                <h6 >Así lo hacemos</h6>
                <hr>
            </div>
        
        </div>

        <div class="row justify-content-center">
            
            <div class="col-8 col-md-10">
                <div class="row justify-content-center">

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 img-pasos wow fadeIn" data-wow-delay="250ms">
                        <img class="img-fluid"  src="assets/images/paso-1.png">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 img-pasos wow fadeIn" data-wow-delay="500ms">
                        <img class="img-fluid"  src="assets/images/paso-2.png">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 img-pasos wow fadeIn" data-wow-delay="750ms">
                        <img class="img-fluid"  src="assets/images/paso-3.png">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 img-pasos wow fadeIn" data-wow-delay="1000ms">
                        <img class="img-fluid"  src="assets/images/paso-4.png">
                    </div>

                </div>
            </div>
            
        </div>

    </div>
    
</section>

<section class="row contacto-section" id="contacto">
    
    <div class="col-12 pb-5 contacto pt-4 pb-5">
    
        <div class="row justify-content-center text-center pt-5">

            <div class="col-10 col-md-4 wow fadeInDown">
                <h3><strong>Contacto</strong></h3>
                <h6>Aclaramos tus dudas</h6>
                <hr>
            </div>
        </div>

        <div class="row align-items-center justify-content-center pt-3 wow fadeIn" data-wow-delay="1000ms">

            <div class="order-2 col-12 col-sm-6 col-md-5 col-lg-4 order-md-1 google-maps pt-3" 
                    style="height: 300px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.7789043859107!2d-99.16168778536334!3d19.42195658689034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff30f7735685%3A0xa83a5efa605fd104!2sC%C3%B3rdoba%2049%2C%20Roma%20Nte.%2C%20Cuauht%C3%A9moc%2C%2006700%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1579796839443!5m2!1ses!2smx" 
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                </iframe>
            </div>

            <div class="order-3 col-3 col-sm-3 col-md-1 order-md-2 align-self-center pt-4">
                <img class="img-fluid img-bandera" src="assets/images/bandera.jpg">
            </div>

            <div class="order-1 col-9 col-sm-6 col-md-5 col-lg-4 order-md-3 form-container pt-3" >
                <form [formGroup]="contactForm" class="text-center mb-4" (ngSubmit)="contactSubmit(contactForm.value)" novalidate>

                        <input type="text" class="form-control mb-3" formControlName="nombre" placeholder="Nombre*" required>
                        <div *ngIf="contactForm.controls['nombre'].invalid && contactForm.controls['nombre'].touched"
                            class="alert alert-danger">
                                <div *ngIf="contactForm.controls['nombre'].errors.required">
                                        Nombre es requerido.
                                </div>
                        </div>
          
                        <input type="email" class="form-control mb-3" formControlName="email" placeholder="Email*" required>
                        <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched"
                            class="alert alert-danger">
                                <div *ngIf="contactForm.controls['email'].errors.required">
                                    Email es requerido.
                                </div>
                                <div *ngIf="contactForm.controls['email'].errors.email">
                                    Email debe tener formato valido.
                                </div>
                        </div>

                        <input type="text" class="form-control mb-3" formControlName="asunto" placeholder="Asunto" required>
                        <div *ngIf="contactForm.controls['asunto'].invalid && contactForm.controls['asunto'].touched"
                            class="alert alert-danger">
                                <div *ngIf="contactForm.controls['asunto'].errors.required">
                                    Escribe cualquier asunto.
                                </div>               
                        </div>

                        <textarea class="form-control mb-3" formControlName="mensaje" placeholder="Escribe tu mensaje..." required></textarea>
                        <div *ngIf="contactForm.controls['mensaje'].invalid && contactForm.controls['mensaje'].touched"
                            class="alert alert-danger">
                                <div *ngIf="contactForm.controls['mensaje'].errors.required">
                                    Envíanos un mensaje
                                </div>
                        </div>
                        <div class="pb-2">
                            <re-captcha class="recaptcha-responsive" formControlName="recaptcha" style="display: inline-block;" 
                                (resolved)="resolved($event)"
                                siteKey="{{siteKey}}">  
                            </re-captcha>
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!contactForm.valid" >Enviar</button>
           
                </form>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>
<!--
<section class="row bronca-de-moviles">

    <div class="col-12">
        <div class="row footer-section justify-content-center">
            <div class="col-12 col-sm-10 col-md-4 col-lg-3" >

                <div class="row wow fadeIn">
                    <div class="col-2 col-sm-4 col-lg-3 align-items-lg-baseline text-right pt-3">
                        <i class="fa fa-map-marker fa-2x icon-footer" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 col-sm-8 col-lg-9 pt-3">
                        <h5 class="text-white"><strong>Oficinas Centrales</strong></h5>
                        <p class="text-footer">Córdoba 49, Piso 3. Roma Norte.<br>Alc. Cuauhtémoc. CDMX. 06700</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-10 col-md-4 col-lg-3" >

                <div class="row wow fadeIn">
                    <div class="col-2 col-sm-4 col-md-5 text-right pt-3">
                        <i class="fa fa-phone fa-2x icon-footer" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 col-sm-8 col-md-7 pt-3 text-left">
                        <h5 class="text-white"><strong>Llámanos</strong></h5>
                        <p class="text-footer">(55) 8437-8877</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-10 col-md-4 col-lg-3">

                <div class="row wow fadeIn">
                    <div class="col-2 col-sm-4 col-md-5 text-right pt-3">
                        <i class="fa fa-envelope-open-o fa-2x icon-footer" 
                        aria-hidden="true"></i>
                    </div>
                    <div class="col-10 col-sm-8 col-md-7 pt-3 text-left">
                        <h5 class="text-white"><strong>Email</strong></h5>
                        <p class="text-footer">contacto@tacticati.com</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-12 pt-3" style="background-color: #1B1B1B;">
        <p class="text-center text-white">Copyright 2020 Táctica TI. Todos los Derechos Reservados</p>
    </div>
</section>
-->